{% extends 'menu.html' %}


{% block content %}

    <div class="container">
    <p></p>

        

    <div class="col-md-5 offset-md-3">

        <form method="POST" class="card card-body">

            {{ error }}

            {% csrf_token %}

            <h1 class="text-center">Cadastre-se</h1>

            <div class="mb-3 mt-5">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" required>
            </div>
            
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" required>
            </div>

            <div class="mb-3">
                <label for="password1" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password1" required>
            </div>

             <div class="mb-3">
                <label for="password2" class="form-label">Confirme a Senha</label>
                <input type="password" class="form-control" id="password2" required>
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>

{% endblock %}