# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Others
*.bak
*.swp
*.swo
.idea/
*.sqlite3
